+b.FOOTER.footer 
  .container
      +e.row 
      
         +e.A(href="index.html" class="logo")
           img(src="assets/images/logo/logo-dark.svg", alt="")

    
         +e.P.copyright © <span class="js-current-year"></span>, Все права защищены Спортсмен кубани