// Header
+b.HEADER.header 
 +e.row

   +e.sponsor
    +e.A(href="https://www.rncb.ru/" class="sponsor-logo" target="_blank")
      img(src="assets/images/logo/rnkb.svg", alt="Генеральный спонсор РНКБ")
    +e.sponsor-desc Генеральный спонсор

   include _hamburger
   
   +e.UL.navigation 
    +e.LI 
     +e.A(href="#about" class=" js-anchor") О премии
    +e.LI 
     +e.A(href="#partners" class=" js-anchor") Партнеры