+b.SECTION.works-accordion
  +e.decor 
   img(src="assets/images/bg/disk.png", alt="")
  .container 

    +e.top 
      +b.H3.title <span class="color-primary">Работы,</span><br> которыми мы гордимся
      //- +b.swiper-nav 
      //-   +e.prev(ref="prev") 
      //-     +icon('arrow')
      //-   +e.next(ref="next")
      //-     +icon('arrow')
    +b.options
     
     +b.option(style="background-image:url(assets/images/gallery/2.jpg)").active
      .label

        +b.option-info
          +e.title Установка задних мониторов на андройд в штатные места, с личными пультами управления и наушниками 
           +icon('zoom')
          +e.tags 
           +e.tag Mersedes 
           +e.tag s223 

     +b.option(style="background-image:url(assets/images/gallery/3.jpg)")
      .label
        +b.option-info
          +e.title Установка задних мониторов на андройд в штатные места, с личными пультами управления и наушниками 
           +icon('zoom')
          +e.tags 
           +e.tag Mersedes 
           +e.tag s223 
     +b.option(style="background-image:url(assets/images/gallery/2.jpg)")
      .label
        +b.option-info
          +e.title Установка задних мониторов на андройд в штатные места, с личными пультами управления и наушниками 
           +icon('zoom')
          +e.tags 
           +e.tag Mersedes 
           +e.tag s223 
     +b.option(style="background-image:url(assets/images/gallery/3.jpg)")
      .label
        +b.option-info
          +e.title Установка задних мониторов на андройд в штатные места, с личными пультами управления и наушниками 
           +icon('zoom')
          +e.tags 
           +e.tag Mersedes 
           +e.tag s223 
     +b.option(style="background-image:url(assets/images/gallery/2.jpg)")
      .label
       +b.option-info
          +e.title Установка задних мониторов на андройд в штатные места, с личными пультами управления и наушниками 
           +icon('zoom')
          +e.tags 
           +e.tag Mersedes 
           +e.tag s223 
    +e.bottom 
      +b.A(href="reviews.html" class="btn --primary-line --skew --large __btn") 
        span Все работы novatune