+b.SECTION.works-accordion
  .container 
    +e.top 
      +b.H3.title <span class="color-primary">Работы</span> которыми мы гордимся
      //- +b.swiper-nav 
      //-   +e.prev(ref="prev") 
      //-     +icon('arrow')
      //-   +e.next(ref="next")
      //-     +icon('arrow')

    +e.bottom 
      +b.A(href="reviews.html" class="btn --primary-line --skew --large __btn") 
        span Все работы novatune