+b.SECTION.works
  .container 
    +e.top 
      +b.H3.title <span class="color-primary">Отзывы</span> наших клиентов
      +b.swiper-nav 
        +e.prev(ref="prev") 
          +icon('arrow')
        +e.next(ref="next")
          +icon('arrow')

    +e.swiper-container.swiper-container.js-swiper-works 
      +e.swiper-wrapper.swiper-wrapper 

        +e.swiper-slide.swiper-slide
          +b.A(href="https://youtu.be/MzsJF91uooA" data-fancybox="works" class="work-item js-youtube-video")
            img(src="", alt="")

        +e.swiper-slide.swiper-slide
          +b.A(href="https://youtu.be/9-BCi8CB1zk" data-fancybox="works" class="work-item js-youtube-video")
            img(src="", alt="")

        +e.swiper-slide.swiper-slide
          +b.A(href="https://youtu.be/MzsJF91uooA" data-fancybox="works" class="work-item js-youtube-video")
            img(src="", alt="")

        +e.swiper-slide.swiper-slide
          +b.A(href="https://youtu.be/MzsJF91uooA" data-fancybox="works" class="work-item js-youtube-video")
            img(src="", alt="")

    +e.bottom 
      +b.A(href="reviews.html" class="btn --primary-line --skew --large __btn") 
        span Смотреть все отзывы