extends ../layout/main

block variables
    - var title = 'О нас';
    - var description = 'О нас';
    - var pageName = 'index';

block content

 include ../includes/modules/_top
 +top('<span class="color-primary">О нас</span><br>', 'О нас ')
 +b.SECTION.content-section
  .container 
  
   +b.typography 
    p В штатной комплектации очень часто не хватает опций, которые значительно повышают комфорт во время эксплуатации автомобиля, а порой становятся просто необходимостью.
    p Услуга дооснащения BMW как раз решает эту задачу. В нашем центре мы устанавливаем только оригинальные комплектующие БМВ, каждая запчасть имеет свой каталожный номер, и мы даем гарантию на все производимые работы и детали.
    p По сути в комплекс дооснащения входят заводские опции, которые в штатной комплектации присутствуют на одних авто и отсутствуют в других. Поэтому все детали и проводка оригинальные, устанавливаются в штатные места, кабели питания ведутся в блок предохранителей, то есть все на "своих" местах. Заводская гарантия при этом сохраняется.
    h3 Комплекс мер по дооснащению BMW включает в себя:
    p 
      strong Установка мультимедиа NBT, NBT Evo
    ul 
      li Камера заднего вида и круговой обзор (доступно не на все модели)
      li Доводчики дверей
      li Спортивные рули с подогревом и лепестками
      li Цифровое телевидение и/или Apple TV
      li Аудиосистемы Hi-Fi, Harman Kardon
      li Щиток приборов: LED-панель, BlackPanel
      li Установка мультимедийно-развлекательной системы для задних пассажиров
      li Отдельно можно выделить комплекс кодирования и обновления. Обновление карт необходимо время от времени для навигации, обновление самой мультимедийной системы, а также обновление программного обеспечения всего автомобиля.
    p Кодирование это активация опций, которые уже имеются на автомобиле. На каждом авто возможно закодировать различный набор опций, в зависимости, от аппаратных средств. Например, закрытие багажника с кнопки не обойдется одним кодированием, в случае, когда этой кнопки просто нет. По желанию можно кодировать одну или несколько опций. 
    p 
      strong Для каждого авто перечень будет разным, вот наиболее популярные:
    ul 
      li Разблокировка TV DVD в движении
      li Активация воспроизведения видео с флешки
      li Прослушка музыки по Bluetooth
      li Отключение функции старт/стоп (запоминает последнее положение) 


block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")