extends ../layout/main

block variables
    - var title = 'Главный спортсмен Краснодарского края за 10 лет';
    - var description = 'Главный спортсмен Краснодарского края за 10 лет';
    - var pageName = 'index';
    -
     var partners = [
      {
       img: 'assets/images/logo/1.png'
      },
      {
       img: 'assets/images/logo/2.png'
      },
      {
       img: 'assets/images/logo/1.png'
      },
      {
       img: 'assets/images/logo/2.png'
      },
      {
       img: 'assets/images/logo/1.png'
      },
      {
       img: 'assets/images/logo/2.png'
      },
      {
       img: 'assets/images/logo/1.png'
      },
      {
       img: 'assets/images/logo/2.png'
      }
     ]
block content

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")