extends ../layout/main

block variables
    - var title = 'Мультимедиа для BMW 530d';
    - var description = 'Мультимедиа для BMW 530d';
    - var pageName = 'index';
    - var bodyClass = 'is-page-index'

block content

 +b.SECTION.main-intro
  .container 


 +b.SECTION.why
  .container 



 include ../includes/modules/_models

 include ../includes/modules/_complex

 +b.SECTION.services
  -
   var services = [
    {
     title: 'Навигационно-мультимедийные системы для штатных мониторов',
     img: 'assets/images/work/2.png'
    },{
     title: 'Расширенный CarPlay и Android Auto в любой авто',
     img: 'assets/images/work/3.png'
    },{
     title: 'Автоматические доводчики дверей',
     img: 'assets/images/work/4.png'
    },{
     title: 'Авто-ателье перетяжка и перешив салона, офис на колесах',
     img: 'assets/images/work/5.png'
    },{
     title: 'Внешний тюнинг, обвесы, карбон',
     img: 'assets/images/work/17.png'
    },{
     title: 'Автосвет, подсветка, диоды, ambient light',
     img: 'assets/images/work/7.png'
    },{
     title: 'Тонировка пленкой, атермальная и электро-тонировка',
     img: 'assets/images/work/8.png'
    },{
     title: 'Установка комплексных систем защиты авто',
     img: 'assets/images/work/9.png'
    }
   ]
  .container 
   +e.row 
    +e.col 
     +b.H3.title Услуги <br>novatune
     +e.desc С гарантией качества на срок владения автомобилем.

     +b.A(href="#" class="btn --primary-line --skew --large __btn") 
       span Перейти в каталог

    each obj in services
     +e.col 
      +services-item(obj)

 include ../includes/modules/_works-accordion

 +b.SECTION.setup-center 
  .container 



 include ../includes/modules/_request
 +request()

 include ../includes/modules/_works-reviews
 
block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")