html,
body {
   min-height: 100vh;
}

html {
   font-size: $main-font-size;
   line-height: $main-line-height;

   color: $main-font-color;

   @include notebookLg(font-size, 14px);
   @include lg(font-size, 13px);
   @include sm(font-size, 10px);
}

body {
   font-family: $main-font;
   font-weight: $main-font-weight;

   position: relative;

   overflow-x: hidden;
   overflow-y: scroll;

   min-width: 320px;
   max-width: 100vw;
   margin: 0;
   padding: 0;

   background-color: #fff;

   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   &:before {
      position: fixed;
      z-index: 8;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      visibility: hidden;

      width: 100%;
      height: 100%;

      content: '';
      transition: opacity $animSpeed ease;

      opacity: 0;
      background: rgba($black, 0.4);


      //backdrop-filter: blur(10px);
   }

   &.overflow-transparent {
      overflow: hidden;
   }

   &.overflow-hide-header {
      &:before {
         z-index: 10;
      }
   }

   &.overflow {
      overflow: hidden;

      @include lg-block() {
         &:before {
            visibility: visible;

            opacity: 1;
         }
      }
   }
}

.container {
   @include wrapper();
   @include notebook-block() {
      max-width: 1330px;
   }
   @include sm-block() {
      padding-right: $fields_sm;
      padding-left: $fields_sm;
   }
}
