
.header {
   $parent: &;

   font-size: 14px;

   position: relative;
   z-index: 8;

   padding: rem(35) 0;
   &__phone {
      font-weight: 700;

      white-space: nowrap;

      color: #000;
   }
   &__row {
      display: flex;

      align-items: center;
      justify-content: space-between;
   }
   &__logo {
      display: block;

      width: rem(200);
      margin-right: auto;
   }
   &__element {
      margin-left: rem(40);
   }
   .hamburglar {
      margin-right: rem(-15);
      margin-bottom: rem(-30);

      cursor: pointer;
      transform: scale(0.7);

@include from($break_sm) {
         display: none;
      }
   }
}
