
.header {
   $parent: &;

   font-size: 14px;

   position: relative;
   z-index: 8;

   padding: rem(35) 0;

@include lg-block() {
      position: fixed;
      z-index: 9;
      top: 0;
      right: 0;
      left: 0;

      padding-top: 0;
      padding-right: 15px;
      padding-bottom: 0;
      padding-left: 15px;

      background: #fff;
   }

   &__phone {
      font-weight: 700;

      white-space: nowrap;

      color: #000;
   }
   &__row {
      display: flex;

      align-items: center;
      justify-content: space-between;
   }
   &__logo {
      display: block;

      width: rem(200);
      margin-right: auto;
   }
   &__element {
      margin-left: rem(40);

@include md-block() {
         display: none;
      }
   }
   &__hamburger {
      display: flex;

      width: 60px;
      height: 80px;
      margin-left: rem(30);

      cursor: pointer;

@include from($break_lg) {
         display: none;
      }  justify-content: center;
      align-items: center;

      .hamburger {
         width: 18px;
      }
   }
}
