$radio-size: rem(25px);


@mixin check($size) {
   cursor: pointer;

   &:before {
      position: absolute;
      top: 0;
      left: 0;

      display: block;

      width: $size;
      height: $size;

      content: '';

      border: solid 1px $border-base;
      border-radius: rem(4px);
      background: $white;
   }

   &:after {
      position: absolute;
      top: 0;
      left: 0;

      display: block;

      width: $size;
      height: $size;

      content: '';
      transition: all $animSpeed $anim;
   }
}

.checkbox,
.radio {
   font-size: $base-font-size;
   font-weight: normal;
   line-height: 1.2;

   position: relative;

   display: inline-flex !important;

   min-height: $radio-size;
   padding-left: rem(50px);

   cursor: pointer;
   user-select: none;
   text-align: left;
   vertical-align: middle;
   text-transform: none;

   align-items: center;
   input {
      display: none;
   }
   a {
      text-decoration: underline;

      &:hover {
         text-decoration: none;
      }
   }



   span {
      @include check($radio-size);
   }

   &.field--error {
      color: $danger-color;
   }
}

.checkbox {
   span {
      &:after {
         opacity: 0;
         background-color: transparent;
         background-image: svg-load('../icons/check.svg', fill=$primary-color);
         background-repeat: no-repeat;
         background-position: center;
         background-size: 70%;
      }
   }
   input {
      &:checked +span {
         &:after {
            opacity: 1;
         }
      }
   }
}

.radio {
   span {
      &:before {
         border-radius: 50%;
      }
      &:after {
         transform: scale(0.5);

         border-radius: 50%;
         background: $light-color;
      }
   }
   input {
      display: none;

      &:checked +span {
         &::after {
            background: $primary-color;
         }
      }
   }
}
