$fieldHeight: rem(55);

// Field
@mixin inputBase() {
   font-family: $main-font;
   font-size: rem(16);

   position: relative;

   display: block;

   width: 100%;
   height: $fieldHeight;
   padding-left: rem(20);

   transition: background $animSpeed $anim;
   text-overflow: ellipsis;

   border: none;
   border-radius: rem(8);
   background: transparent;

   &:focus,
   &:hover {
      outline: none !important;
   }

   &::placeholder {
      font-weight: 300;

      color: #ddd;
   }
}

@keyframes errorInput {
   0% {
      transform: translateX(0);
   }

   50% {
      transform: translateX(-6px);
   }

   100% {
      transform: translateX(6px);
   }
}

.field-label {
   font-size: rem(16px);
   line-height: 1.15;

   display: block;

   color: $black;

   &.strong {
      font-weight: 500;
   }
}

.field {
   $parent: &;
   input,
   select,
   textarea {
      @include inputBase();
   }
   &__inner {
      position: relative;

      transition: all 0.2s ease;
      transform: skew(-10deg);

      border-radius: rem(5);
      background: #ccd1d7;
      input,
      select,
      textarea {
         font-weight: 600;

         overflow: hidden;

         padding-top: rem(15);

         transform: skew(10deg);

         &:focus ~label.field-label,
         &:valid ~label.field-label {
            font-size: 12px;

            top: rem(5);
            left: rem(20);

            color: $primary-color;
         }
      }
      .field-label {
         position: absolute;
         top: rem(18);
         left: rem(20);

         transition: all 0.2s ease;
         transform: skew(10deg);
         pointer-events: none;
      }

      &:focus,
      &:hover {
         background: lighten(#ccd1d7, 5%);
      }
   }



   &--light {
      .field__inner {
         background: #f1f1f1;
      }
   }

   &--white-light {
      .field__inner {
         background: rgba(#fff, 0.3);
         input,
         select,
         textarea,
         .field-label {
            color: #fff;
         }
      }
   }

   textarea {
      overflow: hidden;

      min-height: $fieldHeight;
      margin-top: rem(15);

      resize: vertical;
   }


   &__error {
      line-height: 1.2;

      display: none !important;

      padding-top: 5px;

      color: $danger-color;
   }

   &.is-error {
      animation: errorInput 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);

      will-change: transform;

      .field__inner {
         background: #fad1d1;
      }
      .field-label {
         color: $danger-color;
      }
      .checkbox {
         color: $danger-color;
         span {
            &:before {
               border-color: $danger-color;
            }
         }
      }
   }
}

.messages {
   display: none !important;
}
.field-group {
   position: relative;
   input {
      padding-right: $fieldHeight;
   }
   &__after {
      position: absolute;
      top: 0;
      right: 0;

      display: flex;

      width: $fieldHeight;
      height: $fieldHeight;

      cursor: pointer;

      align-items: center;
      justify-content: center;
      svg {
         width: rem(20);
         height: rem(20);

         transition: fill $anim $animSpeed;

         fill: $primary-color;
      }
      &:hover {
         svg {
            fill: $main-font-color;
         }
      }
   }
}
.datepicker-field {
   position: relative;
   &__input {
      font-size: rem(24) !important;
      font-weight: 500;

      padding-right: rem(40);
      padding-left: rem(40) !important;

      text-align: center;
   }
   &:after {
      position: absolute;
      top: 50%;
      right: rem(15);

      width: rem(20);
      height: rem(20);

      content: '';
      transform: translateY(-50%);
      pointer-events: none;

      background-color: transparent;
      background-image: svg-load('../icons/datepicker.svg', fill=$primary-color);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
   }
}
