include ../bemto-master/bemto.pug
include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title Novatune - #{title} 
    meta(name="description", content=description)
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="assets/css/app.css")
    script(type="text/javascript").
      window.assets_path = 'assets/icons/sprite.svg'

    block head

  body(class=bodyClass)
    
    main#app.wrapper
      // Main layout
      +b.main-layout
       +e.row
        +e.bar 
         +e.bar-inner
          +e.hamburger
           include ../includes/modules/_hamburger
        +e.centered
         include ../includes/modules/_header
         

         +e.ARTICLE.content

           // Begin page
           block content
           // End page  

       // Footer
       include ../includes/modules/_footer


       // Заказать звонок
       +b.modal(class="--primary")#callMe
        +e.title Обратный звонок
        +e.FORM.form.js-validation-form
         .row 

           .col-12
             +b.field(class="--white-light")
               +e.inner
                 
                 input(type="text" name="name" required)
                 label.field-label Ваше имя *

           .col-12
             +b.field(class="--white-light")
               +e.inner 
                 
                 input(type="text" name="phone" required).js-phone-mask
                 label.field-label Номер телефона *

           .col-6
             +b.field(class="--white-light")
               +e.inner 
                
                 input(type="text" name="brand")
                 label.field-label Марка авто

           .col-6
             +b.field(class="--white-light")
               +e.inner 
                 
                 input(type="text" name="model")
                 label.field-label Модель авто
           .col-12
             +b.field(class="--white-light")
               +e.inner
                 
                 input(type="text" name="comment")
                 label.field-label Комментарий
         +e.buttons
          +b.BUTTON.btn(class="--white --skew --large")
            span Заказать звонок

       // Заказать услугу
       +b.modal(class="--primary")#orderService
        +e.title Заказать камеру заднего вида на BMW X3 F25
        +e.FORM.form.js-validation-form
         .row 

           .col-12
             +b.field(class="--white-light")
               +e.inner
                 
                 input(type="text" name="name" required)
                 label.field-label Ваше имя *

           .col-12
             +b.field(class="--white-light")
               +e.inner 
                 
                 input(type="text" name="phone" required).js-phone-mask
                 label.field-label Номер телефона *
           .col-12
             +b.field(class="--white-light")
               +e.inner
                 
                 input(type="text" name="email")
                 label.field-label Ваш email:

     
         +e.buttons
          +b.BUTTON.btn(class="--white --skew --large")
            span Отправить
    block script